.asciinema-theme-dracula .asciinema-terminal {
    color: #f8f8f2;
    background-color: #282a36;
    border-color: #282a36;
}

.asciinema-theme-dracula .fg-bg {
    color: #282a36;
}

.asciinema-theme-dracula .bg-fg {
    background-color: #f8f8f2;
}

.asciinema-theme-dracula .fg-0 {
    color: #21222c;
}

.asciinema-theme-dracula .bg-0 {
    background-color: #21222c;
}

.asciinema-theme-dracula .fg-1 {
    color: #ff5555;
}

.asciinema-theme-dracula .bg-1 {
    background-color: #ff5555;
}

.asciinema-theme-dracula .fg-2 {
    color: #50fa7b;
}

.asciinema-theme-dracula .bg-2 {
    background-color: #50fa7b;
}

.asciinema-theme-dracula .fg-3 {
    color: #f1fa8c;
}

.asciinema-theme-dracula .bg-3 {
    background-color: #f1fa8c;
}

.asciinema-theme-dracula .fg-4 {
    color: #bd93f9;
}

.asciinema-theme-dracula .bg-4 {
    background-color: #bd93f9;
}

.asciinema-theme-dracula .fg-5 {
    color: #ff79c6;
}

.asciinema-theme-dracula .bg-5 {
    background-color: #ff79c6;
}

.asciinema-theme-dracula .fg-6 {
    color: #8be9fd;
}

.asciinema-theme-dracula .bg-6 {
    background-color: #8be9fd;
}

.asciinema-theme-dracula .fg-7 {
    color: #f8f8f2;
}

.asciinema-theme-dracula .bg-7 {
    background-color: #f8f8f2;
}

.asciinema-theme-dracula .fg-8 {
    color: #6272a4;
}

.asciinema-theme-dracula .bg-8 {
    background-color: #6272a4;
}

.asciinema-theme-dracula .fg-9 {
    color: #ff6e6e;
}

.asciinema-theme-dracula .bg-9 {
    background-color: #ff6e6e;
}

.asciinema-theme-dracula .fg-10 {
    color: #69ff94;
}

.asciinema-theme-dracula .bg-10 {
    background-color: #69ff94;
}

.asciinema-theme-dracula .fg-11 {
    color: #ffffa5;
}

.asciinema-theme-dracula .bg-11 {
    background-color: #ffffa5;
}

.asciinema-theme-dracula .fg-12 {
    color: #d6acff;
}

.asciinema-theme-dracula .bg-12 {
    background-color: #d6acff;
}

.asciinema-theme-dracula .fg-13 {
    color: #ff92df;
}

.asciinema-theme-dracula .bg-13 {
    background-color: #ff92df;
}

.asciinema-theme-dracula .fg-14 {
    color: #a4ffff;
}

.asciinema-theme-dracula .bg-14 {
    background-color: #a4ffff;
}

.asciinema-theme-dracula .fg-15 {
    color: #ffffff;
}

.asciinema-theme-dracula .bg-15 {
    background-color: #ffffff;
}
